.container {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 550px) {
  .container {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 650px) {
  .container {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 800px) {
  .container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 950px) {
  .container {
    width: 950px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}