body {
    font-family: 'Montserrat', sans-serif;
    color: #747704;
    background-color: #82A6B1;
}

.text-super {
    font-size: 3em;
}

.text-center {
    text-align: center;
}

.img-works {
    border: 1px solid #DDD;
    border-radius: 4px;
    padding: 5px;
    width: 100vh;
    height: 100vh;
}

.img-modal {    
    width: 30%;
    height: 30%;
    margin: 0 auto;
}