body {
    font-family: 'Montserrat', sans-serif;
    color: #E5E5E5;
    background-color: #454545;
}

.text-super {
    font-size: 3em;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.img-works {
    border: 1px solid #DDD;
    border-radius: 4px;
    height: 50vh;
    margin: 0 auto;
    padding: 5px;
    width: 100vh;
}

.img-modal {    
    width: 30%;
    height: 30%;
    margin: 0 auto;
    padding: 1em;
}

.text-modal {
    color: black;
}

.main {
    background-color: #323232;
    margin: 5em auto 5em;
}

.logo {
    margin: 1em auto;
}